{% load staticfiles %}
<div class="contaimer">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.infoffice.cn"><img src="{% static 'images/logo.png' %}" width="100px"></a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 10px">
                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">LOGIN</a></li>
            </ul>
        </div>
    </nav>
</div>