{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>登陆</h1>
    <p>请输入你的用户名及密码</p>
    <p>Input you username and password</p>
    <!--<form class="form-horizontal" action="." method="post">{% csrf_token %}
    <form class="form-horizontal" action="{% url 'account:user_login' %}" method="post">{% csrf_token %}-->
        <!--{{ form.as_p }}-->
        <div class="form-group">
            <label for="{{ form.username.id_for_lable }}" class="col-md-5 control-lable" style="color: red">
                <span class="glyphicon glyphicon-user"></span>Username</label>
                <div class="col-md-6 text-left">{{ form.username }}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_lable }}" class="col-md-5 control-lable" style="color: blue">
                <span class="glyphicon glyphicon-floppy-open"></span>Password</label>
                <div class="col-md-6 text-left">{{ form.password }}</div>
        </div>
        <button type="sumit" class="btn btn-primary btn-lg" value="Login">
        <!--<input type="sumit" class="btn btn-primary btn-lg" value="Login">-->
    </form>
</div>
{% endblock %}