{% extends "base.html" %}
{% block title %}blog titles{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>{{article.title}}</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <p class = "test-center"><span>{{article.author.username}}</span><span style="margin-left:20px">{{publish}}</span></p>
    </div>
    <div class="col-xs-6 col-md-4">
        <h2>请关注</h2>
        <p>规划管理信息系统：www.infoffice.cn</p>
        <img width="200px" src="http://www.mrwallpaper.com/wallpapers/Fluffy-Cat.jpg">
    </div>
</div>
{% endblock %}
