<!-- {% extends "base.html" %} -->
{% block title %}blog titles{% endblock %}
{% block mainbody %}
<div class="row text-center vertical-middle-sm">
	<h1>待办单位列表</h1>
</div>
<div class="row">
	<div class="col-xs-12 col-md-8">
		<ul>
			<!-- {% for dw in dws %} -->
			<!-- <li><a href="{{ dw.id }}">{{ dw.sqdw }}</a></li> -->
			<!-- <li>{{ dw.sqdw }}</li> -->
			<!-- {% endfor %} -->
		</ul>
	</div>
	<div class="col-xs-6 col-md-4">
		<h2>惠正科技</h2>
		<p>为你服务：www.infoffice.cn</p>
		<!-- <img width="200px" src="http://www.mrwallpaper.com/wallpapers/Fluffy-Cat.jpg"> -->
	</div>
</div>
{% endblock %}